<form id="new-payee">
  
  <input type="radio" id="business" name="field" checked />
  <label for="business" id="business-label">Business</label>

  <input type="radio" id="person" name="field" />
  <label for="person" id="person-label">Person</label>
  
  <input type="text" 
    id="business-name" 
    name="payee[name]">
  
  <input type="text" 
    id="person-name" 
    name="payee[name]">
  
  <div class="button-holder">
    <img class="arrow" src="http://s29.postimg.org/5b9bhjmf7/arrow.png">
    <input type="submit" value=""> 
  </div>
</form>